server:
  servlet:
    context-path: /config-server
  port: ${CONFIG_SERVER_PORT}
spring:
  profiles:
    active: native
  application:
    name: config-server
management:
  endpoints:
    web:
      base-path: /config-server
      exposure:
        include: health
  tracing:
    sampling:
      probability: 1.0
eureka:
  client:
    serviceUrl:
      defaultZone: http://${AWS_ALB_DNS}/registry-service/eureka