name: AWS Stage Stop Server

on:
  push:
    branches: ["stage-stop"]

permissions:
  id-token: write
  contents: read

jobs:
  stop-server:
    runs-on: ubuntu-latest

    environment: stage

    steps:
      - name: Check Out Code
        uses: actions/checkout@v4

      - name: Configure AWS credentials for Terraform
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Pre Terraform
        working-directory: ./aws-post-terraform
        run: |
          terraform init -backend-config="bucket=stage-microservice-terraform-state"
          terraform destroy -var="project_name=stage" -auto-approve